body {
  background-color: #ddd;
}
body * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body > header {
  width: 490px;
  margin: 0 auto 10px;
  padding: 10px 0;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
}
body > header h1 {
  text-align: center;
  padding: 5px 0;
  margin: 0;
  font-size: 54px;
  color: #333;
  letter-spacing: -1px;
}
body > footer {
  margin: 0 auto;
  width: 490px;
}
body > footer p {
  font-size: 14px;
  text-align: center;
  color: #999;
  margin: 30px 0;
}
body > footer p a {
  color: #888;
}
#container {
  display: none;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin: 0 auto;
  width: 490px;
}
#container input[type="text"] {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 1px 0 inset;
  margin: 10px 0;
  padding: 8px 8px;
  font-size: 24px;
  width: 450px;
}
#container [class^="icon-"],
#container [class*=" icon-"] {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 14px;
  background-image: url(glyphicons.png);
  background-repeat: no-repeat;
  vertical-align: middle;
}
#container .icon-delete {
  background-position: -98px -912px;
}
#container .icon-checkbox {
  background-position: 0 -723px;
}
#container a.icon-checkbox {
  margin-right: 5px;
  opacity: 0.2;
}
#container a.icon-checkbox.checked {
  opacity: 1;
}
#container .newTask {
  margin: 0 10px;
}
#container .markAll {
  margin-left: 12px;
  margin-bottom: 20px;
}
#container .markAll span {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 2px;
}
#container .taskList {
  margin: 0 10px;
  padding: 0;
  width: 475px;
  font-size: 20px;
}
#container .taskList .task {
  list-style-type: none;
  margin: 0 0 3px;
  padding: 0;
  display: block;
  border: 1px solid #fff;
}
#container .taskList .task p {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  width: 390px;
  overflow: hidden;
  line-height: 32px;
}
#container .taskList .task a.icon-delete {
  vertical-align: middle;
  opacity: 0;
}
#container .taskList .task input {
  vertical-align: middle;
}
#container .taskList .task input.editbox {
  width: 445px;
  display: none;
}
#container .taskList .task.editing div {
  display: none;
}
#container .taskList .task.editing input.editbox {
  display: block;
}
#container .taskList .task.completed p {
  text-decoration: line-through;
}
#container .taskList .task.over a.icon-delete {
  opacity: 0.3;
}
#container .taskList .task.over a.icon-delete.active {
  opacity: 1;
}
#container footer {
  background-color: #FF8E7B;
  position: relative;
  clear: both;
  padding: 5px 10px;
  margin-top: 10px;
}
#container footer div {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
#container footer button {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
  background-color: #C94C3A;
  cursor: pointer;
  border: 1px solid #F3B8AE;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px;
  border-radius: 5px;
  float: right;
  font-size: 12px;
}
.github img {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}
